@import url(../fonts/fonts.css);
html.fixed {
  overflow: hidden;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 25%;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  background-color: #fff;
  z-index: 1000;
}

.preloader__icon {
  width: 4em;
  height: 4em;
  margin: auto;
  background-color: #F39C12;
  -webkit-animation: rotating-plane 1.2s infinite ease-in-out;
          animation: rotating-plane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotating-plane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    background-color: #3B3B3B;
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes rotating-plane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    background-color: #3B3B3B;
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

body {
  scroll-behavior: smooth;
  background-color: #fff;
  font-family: "GothamPro";
  color: #3B3B3B;
  font-size: 16px;
  line-height: 1.4;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #fff;
  background-color: #3B3B3B;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #fff;
  background-color: #3B3B3B;
}

::-moz-selection {
  color: #fff;
  background-color: #3B3B3B;
}

::selection {
  color: #fff;
  background-color: #3B3B3B;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

a {
  color: #3B3B3B;
}

a:hover {
  color: #F39C12;
}

button {
  border: transparent;
  background: none;
}

option {
  color: #3B3B3B;
}

textarea {
  overflow: hidden;
}

textarea::-webkit-input-placeholder {
  color: #3B3B3B;
}

textarea::-moz-placeholder {
  color: #3B3B3B;
}

textarea:-ms-input-placeholder {
  color: #3B3B3B;
}

textarea::-ms-input-placeholder {
  color: #3B3B3B;
}

textarea::placeholder {
  color: #3B3B3B;
}

button {
  color: #3B3B3B;
}

input,
textarea,
select {
  color: #3B3B3B;
  font-family: "GothamPro";
  font-size: 16px;
  padding: 12px 30px;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
  color: #3B3B3B;
}

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder {
  color: #3B3B3B;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder {
  color: #3B3B3B;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder {
  color: #3B3B3B;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #3B3B3B;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  color: #3B3B3B;
  -webkit-box-shadow: inset 0px 0px 5px 1px #F39C12;
          box-shadow: inset 0px 0px 5px 1px #F39C12;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.select__wrp {
  border: 1px solid #F4F4F4;
  border-radius: 3px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
}

.select__wrp::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 7px;
  background: url("../img/icon__select-arr.svg") no-repeat 50% 50%/contain;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 9px;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.select__wrp select {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 8px 40px 8px 12px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select__wrp select option {
  width: 100%;
}

.select__wrp:hover::before {
  -webkit-transform: translateY(-50%) scale(0.9);
      -ms-transform: translateY(-50%) scale(0.9);
          transform: translateY(-50%) scale(0.9);
}

.quantity {
  position: relative;
  max-width: 129px;
}

.quantity input {
  width: 100%;
}

.quantity-num {
  text-align: center;
}

.quantity-minus, .quantity-plus {
  position: absolute;
  height: 50%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-family: "GothamPro";
  font-size: 32px;
  line-height: 0;
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.quantity-minus:hover, .quantity-plus:hover {
  opacity: .7;
}

.quantity-minus {
  left: 15px;
  color: #3498DB;
}

.quantity-plus {
  right: 15px;
  color: #F39C12;
}

.tabs__content-item {
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.tabs__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.checkbox {
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  position: absolute;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 20px;
  cursor: pointer;
}

.checkbox .checkbox__text {
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  display: block;
}

.checkbox .checkbox__text::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #c3c2c2;
  background: #fff;
}

.checkbox .checkbox__text::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: #F39C12;
  border-radius: 2px;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.checkbox .checkbox__text a {
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:after,
.checkbox input[type="radio"]:checked + .checkbox__text:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:before,
.checkbox input[type="radio"]:checked + .checkbox__text:before {
  background-color: #fff;
  border: 1px solid #F39C12;
}

.checkbox input[type="checkbox"]:focus + .checkbox__text:before {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(49, 179, 237, 0.61);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(49, 179, 237, 0.61);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.shd {
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shd:hover {
  -webkit-box-shadow: 0px 30px 40px rgba(0, 80, 147, 0.25);
          box-shadow: 0px 30px 40px rgba(0, 80, 147, 0.25);
}

.b {
  font-family: "GothamPro-Bold";
}

.tac {
  text-align: center;
}

.tal {
  text-align: left !important;
}

.und {
  text-decoration: underline;
}

.upp {
  text-transform: uppercase;
}

.ttn {
  text-transform: none !important;
}

.curp {
  cursor: pointer;
}

.lgr {
  color: #B1B1B1;
}

.wt {
  color: #fff;
}

a.wt {
  color: #fff;
}

a.wt:hover {
  color: #F39C12;
}

.yel {
  color: #F39C12;
}

a.yel {
  color: #F39C12;
}

a.yel:hover {
  color: #fff;
}

.fz30 {
  font-size: 30px;
}

.fz22 {
  font-size: 22px;
}

.fz18 {
  font-size: 18px;
}

.fz15 {
  font-size: 15px;
}

.btn {
  font-size: 16px;
  font-family: "GothamPro-Bold";
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 40px;
  background: #F39C12;
  display: inline-block;
  border: none;
  border-radius: 3px;
  position: relative;
  outline: none;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.btn:hover {
  color: #fff;
  opacity: .9;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}

.btn_submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: none;
  overflow: hidden;
}

.btn_submit__price {
  height: 45px;
  font-family: "GothamPro-Bold";
  color: #3B3B3B;
  padding: 10px 15px;
  text-align: center;
  border: 1px solid #B1B1B1;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  position: relative;
}

.btn_submit__price::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  height: 103%;
  top: -3%;
  background-color: #F39C12;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
  opacity: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.btn_submit__price::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background-color: #3B3B3B;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.btn_submit__price span {
  position: relative;
}

.btn_submit__svg {
  height: 45px;
  padding: 10px;
  fill: #fff;
  background-color: #F39C12;
  border: 1px solid #F39C12;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
}

.btn_submit:hover .btn_submit__price {
  color: #fff;
  border-color: #F39C12;
}

.btn_submit:hover .btn_submit__price::before {
  opacity: 1;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.btn_submit:hover .btn_submit__price::after {
  background-color: #fff;
}

.btn_top {
  position: fixed;
  display: none;
  right: 35px;
  bottom: 35px;
  width: 40px;
  height: 40px;
  z-index: 3;
}

.btn_top span {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #3B3B3B;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  display: block;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.btn_top span svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.btn_top:hover span {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.btn_top:hover span svg {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
      -ms-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
}

.btn_gr {
  background-color: #fff;
  border: 1px solid #B1B1B1;
  color: #B1B1B1;
}

.btn_gr:hover {
  color: #fff;
  background-color: #F39C12;
  border-color: #F39C12;
}

.fancy-link {
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.fancy-link:hover {
  color: #F39C12;
}

.list_circle {
  list-style-type: none;
  padding-left: 0;
}

.list_circle li {
  padding-left: 25px;
  position: relative;
}

.list_circle li {
  margin-bottom: 10px;
}

.list_circle li::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #F39C12;
  left: 0;
  top: 8px;
  border-radius: 50%;
}

.list_string {
  list-style-type: none;
  padding-left: 0;
}

.list_string li {
  padding-left: 25px;
  position: relative;
}

.list_string li {
  margin-bottom: 10px;
}

.list_string li::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: #3B3B3B;
  left: 0;
  top: 9px;
}

.list_num {
  padding-left: 0;
  counter-reset: list1;
}

.list_num li {
  list-style-type: none;
}

.list_num li {
  margin-bottom: 10px;
}

.list_num li::before {
  counter-increment: list1;
  content: counter(list1);
  color: #3B3B3B;
  font-size: 16px;
  font-family: "GothamPro-Bold";
  margin-right: 15px;
}

.popup__container {
  padding: 43px 15px 0;
  background-color: transparent;
}

@media only screen and (max-width: 1200px) {
  .popup__container {
    padding-left: 0;
    padding-right: 0;
  }
}

.popup__container *,
.popup__container *::before,
.popup__container *::after {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.popup__container .fancybox-close-small {
  top: 0;
  right: 2px;
  padding: 0;
}

.popup__container .fancybox-close-small svg path {
  fill: #fff;
}

.popup__container .popup__wrp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 770px;
}

.popup__container .popup {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  color: #3B3B3B;
  padding: 30px 25px 30px;
  text-align: center;
}

.popup__container .popup_call__wrp {
  max-width: 632px;
}

.popup__container .popup_call__col {
  max-width: 350px;
  width: 100%;
}

.popup__container .popup_success__wrp .popup {
  min-height: 181px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__container .popup_success__wrp span {
  color: #27AE60;
}

.popup__container .popup_add__wrp .btn {
  padding-left: 10px;
  padding-right: 10px;
}

.popup__container .popup_cart__wrp .popup {
  padding-left: 70px;
  padding-right: 70px;
}

@media only screen and (max-width: 1200px) {
  .popup__container .popup_cart__wrp .popup {
    padding-left: 0;
    padding-right: 0;
  }
}

.popup__container .popup_cart__wrp hr {
  background-color: #F4F4F4;
  opacity: .2;
}

.owl-carousel .owl-item img {
  width: auto !important;
}

.owl-carousel .owl-dots {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}

.owl-carousel .owl-dots button.owl-dot {
  width: 13px;
  height: 13px;
  border: 2.5px solid #F39C12;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
}

.owl-carousel .owl-dots button.owl-dot:not(:last-child) {
  margin-right: 10px;
}

.owl-carousel .owl-dots button.owl-dot.active {
  border-color: transparent;
  background-color: #F39C12;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  width: 31px;
  height: 31px;
  position: absolute;
  bottom: 50%;
  margin-bottom: -25.5px;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  border: 1.5px solid #3B3B3B;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.owl-carousel .owl-nav button.owl-prev svg,
.owl-carousel .owl-nav button.owl-next svg {
  max-width: 17px;
  max-height: 17px;
  height: auto;
  fill: none;
  stroke: #3B3B3B;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: #F39C12;
  border-color: #F39C12;
}

.owl-carousel .owl-nav button.owl-prev:hover svg,
.owl-carousel .owl-nav button.owl-next:hover svg {
  stroke: #fff;
}

.owl-carousel .owl-nav button.owl-prev.disabled,
.owl-carousel .owl-nav button.owl-next.disabled,
.owl-carousel .owl-nav button.owl-prev.disabled:hover,
.owl-carousel .owl-nav button.owl-next.disabled:hover {
  opacity: 0;
  cursor: default;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

.owl-carousel .owl-nav button.owl-next {
  right: 0;
}

.section_inner {
  padding: 60px 0;
}

@media only screen and (max-width: 1200px) {
  .section_inner {
    padding: 30px 0;
  }
}

.section_dec {
  position: relative;
}

.section_dec::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  max-width: 569px;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #B1B1B1;
}

.section__ttl {
  font-size: 34px;
  font-family: "GothamPro-Bold";
  letter-spacing: .5px;
  margin-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
  .section__ttl {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.header {
  background-color: #3B3B3B;
  padding: 15px 0;
}

.header__nav-link {
  font-size: 15px;
  color: #B1B1B1;
}

.header__nav-link:hover {
  color: #F39C12;
}

.header__cart {
  position: relative;
}

.header__cart-svg {
  fill: #fff;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.header__cart-val {
  top: -2px;
  right: -17px;
  position: absolute;
  color: #fff;
  font-family: "GothamPro-Bold";
  font-size: 10px;
  background-color: #F39C12;
  padding: 2px 4px;
  border-radius: 10px;
}

.header__cart-price {
  font-family: "GothamPro-Bold";
  color: #fff;
}

.header__cart:hover .header__cart-svg {
  fill: #F39C12;
}

.header_mob__hamb {
  width: 23px;
  height: 20px;
  position: relative;
}

.header_mob__hamb-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.header_mob__hamb-img_2 {
  opacity: 0;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}

.header_mob__logo {
  max-width: 80px;
}

.banner {
  position: relative;
  padding: 35px 0;
  background-image: url("../img/offer__bg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1200px) {
  .banner {
    padding: 25x 0;
  }
}

.banner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #262C37;
  opacity: .8;
}

.banner > * {
  position: relative;
}

.banner__logo {
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.banner__logo:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.banner__info-col {
  min-height: 98px;
  position: relative;
}

.banner__info-border {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  right: -15px;
  background-color: #B1B1B1;
  opacity: .2;
}

.banner__btn {
  padding-top: 17px;
  padding-bottom: 17px;
}

.banner__icon {
  min-width: 14px;
  fill: #B1B1B1;
}

.banner__ttl {
  color: #fff;
  font-size: 30px;
  font-family: "GothamPro-Bold";
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1200px) {
  .banner__ttl {
    font-size: 20px;
  }
}

.banner__search {
  position: relative;
  width: 100%;
}

.banner__search-input {
  width: 100%;
  padding: 15px 50px 15px 30px;
}

.banner__search-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 30px;
  background: #fff url("../img/icon__loupe.svg") no-repeat 50% 50%/contain;
  padding: 0;
  -webkit-transform: translateY(-50%) scale(0.96);
      -ms-transform: translateY(-50%) scale(0.96);
          transform: translateY(-50%) scale(0.96);
  border: none;
}

.banner__search-btn:hover {
  -webkit-transform: translateY(-50%) scale(1.05);
      -ms-transform: translateY(-50%) scale(1.05);
          transform: translateY(-50%) scale(1.05);
}

.banner__test-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  .banner__test-item {
    padding-bottom: 40px;
  }
}

.banner__test-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 15px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.banner__test-ttl {
  font-size: 18px;
  font-family: "GothamPro-Bold";
  margin-bottom: 10px;
}

.banner__test:hover .banner__test-icon {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  border-color: #F39C12;
}

.fil {
  background: #F4F4F4;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 30px;
}

@media only screen and (max-width: 1200px) {
  .fil {
    padding: 10px;
  }
}

.fil .select__wrp select {
  border: 1px solid #B1B1B1;
}

.fil-nav__link {
  font-size: 13px;
  background-color: #F4F4F4;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 12px 18px;
  min-width: 133px;
  margin-bottom: 10px;
}

.fil-nav__link:hover {
  color: #fff;
  background-color: #F39C12;
}

.fil-slider .owl-item.active .fil-slider__item {
  opacity: 1;
}

.fil-slider .owl-nav button.owl-prev {
  left: 50%;
  margin-left: -webkit-calc(-1110px/2);
  margin-left: calc(-1110px/2);
}

@media only screen and (max-width: 1200px) {
  .fil-slider .owl-nav button.owl-prev {
    left: 5px;
    margin-left: 0;
  }
}

.fil-slider .owl-nav button.owl-next {
  right: 50%;
  margin-right: -webkit-calc(-1110px/2);
  margin-right: calc(-1110px/2);
}

@media only screen and (max-width: 1200px) {
  .fil-slider .owl-nav button.owl-next {
    right: 5px;
    margin-right: 0;
  }
}

.fil-slider__item {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 60px 0px;
  opacity: 0;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.fil-slider__item-in {
  position: relative;
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  font-family: "GothamPro-Bold";
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
  .fil-slider__item-in {
    font-size: 16px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.fil-slider__item-in_1 span {
  background-color: #3B3B3B;
  color: #fff;
  padding: 4px 15px;
}

@media only screen and (max-width: 1200px) {
  .fil-slider__item-in_1 span {
    text-align: center;
    padding: 4px;
    position: relative;
    z-index: 2;
  }
}

.fil-slider__item-in_1 span:nth-child(2) {
  width: 70%;
}

@media only screen and (max-width: 1200px) {
  .fil-slider__item-in_1 span:nth-child(2) {
    width: auto;
  }
}

.fil-slider__item-img {
  position: absolute;
  width: 449px;
  height: 293px;
  right: 0;
  top: -85px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1200px) {
  .fil-slider__item-img {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 15px;
    width: 80%;
    height: 300px;
  }
}

.part__item {
  width: 149px;
  height: 151px;
  position: relative;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
  .part__item {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

.part__item::before {
  content: '';
  position: absolute;
  width: 95%;
  height: 95%;
  right: 0;
  bottom: 0;
  border: 1px solid #B1B1B1;
  border-radius: 3px;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.part__item-in {
  width: 95%;
  height: 95%;
  background-color: #F4F4F4;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.part__item-img {
  width: 86px;
  height: 50px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.part__item:hover::before {
  background-color: #F4F4F4;
  border-color: #F39C12;
}

.hit__in .owl-nav button.owl-prev {
  border-color: #B1B1B1;
  top: -74px;
  left: auto;
  right: 45px;
}

@media only screen and (max-width: 1200px) {
  .hit__in .owl-nav button.owl-prev {
    top: -50px;
  }
}

.hit__in .owl-nav button.owl-prev svg {
  stroke: #B1B1B1;
}

.hit__in .owl-nav button.owl-next {
  border-color: #B1B1B1;
  top: -74px;
}

@media only screen and (max-width: 1200px) {
  .hit__in .owl-nav button.owl-next {
    top: -50px;
  }
}

.hit__in .owl-nav button.owl-next svg {
  stroke: #B1B1B1;
}

.hit__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.hit__item-top {
  background-color: #F4F4F4;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  width: 100%;
  height: 270px;
  border: 5px solid #F4F4F4;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  .hit__item-top {
    height: 180px;
  }
}

.hit__item-top-img {
  width: 192px;
  height: 192px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1200px) {
  .hit__item-top-img {
    height: 120px;
  }
}

.hit__item:hover .hit__item-top {
  border-color: #fff;
}

.test__item {
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .test__item {
    margin-bottom: 30px;
  }
}

.test__item::before {
  content: '';
  position: absolute;
  width: 97%;
  height: 97%;
  right: 0;
  bottom: -3%;
  border: 1px solid #B1B1B1;
  border-radius: 3px;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.test__item-in {
  width: 97%;
  height: 97%;
  min-height: 390px;
  color: #fff;
  background-color: #F4F4F4;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  padding: 35px 15px;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1200px) {
  .test__item-in {
    min-height: unset;
  }
}

.test__item-in::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #3B3B3B;
  opacity: .95;
}

.test__item-in > * {
  position: relative;
}

.test__item-icon {
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 35px 35px;
}

.test__item-icon-wrp {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
}

.test__item:hover::before {
  background-color: #F4F4F4;
  border-color: #F39C12;
}

.trust__item {
  width: 210px;
  height: 110px;
  position: relative;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
  .trust__item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

.trust__item::before {
  content: '';
  position: absolute;
  width: 95%;
  height: 95%;
  right: 0;
  bottom: 0;
  border: 1px solid #B1B1B1;
  border-radius: 3px;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.trust__item-in {
  width: 95%;
  height: 95%;
  background-color: #F4F4F4;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.trust__item-img {
  width: 134px;
  height: 76px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.trust__item:hover::before {
  background-color: #F4F4F4;
  border-color: #F39C12;
}

.ben__in {
  background-color: #F4F4F4;
}

@media only screen and (max-width: 1200px) {
  .ben__in {
    margin-bottom: 30px;
  }
  .ben__in .owl-carousel .owl-dots {
    bottom: -30px;
  }
}

.ben__container {
  position: relative;
}

.ben__container::before {
  content: '';
  position: absolute;
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  height: 20px;
  left: 20px;
  bottom: -10px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}

@media only screen and (max-width: 1200px) {
  .ben__container::before {
    display: none;
  }
}

.ben__container > .row {
  position: relative;
}

.ben__item {
  position: relative;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 30px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  min-height: 330px;
}

@media only screen and (max-width: 1200px) {
  .ben__item {
    min-height: unset;
    padding: 25px 20px;
  }
}

.ben__item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #F4F4F4;
  border: 1px solid #dfdfdf;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.ben__item > * {
  position: relative;
}

.ben__item-icon {
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 35px 35px;
}

.ben__item-icon-wrp {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.ben__item:hover {
  color: #fff;
}

.ben__item:hover .ben__item-ttl {
  text-decoration: underline;
}

.ben__item:hover::before {
  background-color: #F39C12;
  opacity: .8;
}

.sale__in .owl-nav button.owl-prev {
  border-color: #B1B1B1;
  top: -85px;
  left: auto;
  right: 45px;
}

@media only screen and (max-width: 1200px) {
  .sale__in .owl-nav button.owl-prev {
    top: -70px;
  }
}

.sale__in .owl-nav button.owl-prev svg {
  stroke: #B1B1B1;
}

.sale__in .owl-nav button.owl-next {
  border-color: #B1B1B1;
  top: -85px;
}

@media only screen and (max-width: 1200px) {
  .sale__in .owl-nav button.owl-next {
    top: -70px;
  }
}

.sale__in .owl-nav button.owl-next svg {
  stroke: #B1B1B1;
}

.sale__more {
  position: relative;
  text-decoration: underline;
  margin-bottom: 7px;
  margin-left: 40px;
}

@media only screen and (max-width: 1200px) {
  .sale__more {
    margin-left: 0;
  }
}

.sale__more::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: -20px;
  background-color: #3B3B3B;
  opacity: .3;
}

@media only screen and (max-width: 1200px) {
  .sale__more::before {
    display: none;
  }
}

.sale__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sale__item-img {
  width: 100%;
  height: 213px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.sale__item-ttl {
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.sale__item:hover {
  color: #000;
}

.sale__item:hover .sale__item-ttl {
  color: #F39C12;
}

.feed {
  background-color: #3B3B3B;
  color: #fff;
}

.feed__container {
  position: relative;
}

.feed__container > .row {
  position: relative;
  z-index: 1;
}

.feed__img {
  position: absolute;
  width: 523px;
  height: 620px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  right: -130px;
  bottom: -180px;
  background-image: url("../img/feed__img.png");
}

@media only screen and (max-width: 1370px) {
  .feed__img {
    right: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .feed__img {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .feed .section__ttl {
    text-align: center !important;
  }
}

@media only screen and (max-width: 500px) {
  .feed .btn {
    width: 100%;
  }
}

.mess__icon {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.mess__icon_wa {
  background-color: #25D366;
  fill: #fff;
}

.mess__icon_vi {
  background-color: #665CA7;
  fill: #fff;
}

.map {
  position: relative;
  height: 584px;
  z-index: 2;
}

@media only screen and (max-width: 1200px) {
  .map {
    padding-top: 0;
    height: auto;
    background-color: #3B3B3B;
    overflow: hidden;
  }
}

.map__cnt {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: -webkit-calc(-1110px/2);
  margin-left: calc(-1110px/2);
  background-color: #3b3b3bba;
  color: #fff;
  max-width: 587px;
  padding: 40px 50px;
}

@media only screen and (max-width: 1200px) {
  .map__cnt {
    position: relative;
    max-width: unset;
    left: 15px;
    top: 0;
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    margin-left: 0;
    padding: 0;
  }
}

#map {
  position: absolute;
  width: 100%;
  height: 584px;
  left: 0;
  top: 0;
}

@media only screen and (max-width: 1200px) {
  #map {
    display: none;
  }
}

#map .ymaps-2-1-74-map {
  height: 584px !important;
}

.footer {
  color: #fff;
  background-color: #3B3B3B;
}

@media only screen and (max-width: 1200px) {
  .footer__copy {
    font-size: 12px;
    text-align: center;
  }
}

.footer_hidden {
  width: 100%;
  height: 21px;
  color: #3B3B3B;
}

.footer__ttl-arr {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .footer__ttl-arr {
    display: block;
    -webkit-transition: .4s all ease;
    -o-transition: .4s all ease;
    transition: .4s all ease;
    fill: none;
    stroke: #fff;
    margin-left: 15px;
    -webkit-transform: scale(1) rotate(-90deg);
        -ms-transform: scale(1) rotate(-90deg);
            transform: scale(1) rotate(-90deg);
  }
}

.footer__ttl.active .footer__ttl-arr {
  -webkit-transform: scale(-1) rotate(-90deg);
      -ms-transform: scale(-1) rotate(-90deg);
          transform: scale(-1) rotate(-90deg);
}

.footer__link {
  height: 20px;
}

@media only screen and (max-width: 1200px) {
  .footer__link {
    -webkit-transition: unset;
    -o-transition: unset;
    transition: unset;
  }
}

.footer__logo {
  position: relative;
  display: block;
}

.footer__logo img {
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.footer__logo:hover img {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.footer__logo::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  right: -15px;
  background-color: #B1B1B1;
  opacity: .2;
}

@media only screen and (max-width: 1200px) {
  .footer__logo::after {
    display: none;
  }
}

.footer hr {
  background-color: #B1B1B1;
  opacity: .2;
}

@media only screen and (max-width: 1200px) {
  .search_mob {
    background-color: #3b3b3bdb;
    color: #fff;
    width: 100%;
    height: -webkit-calc(100vh - 68px);
    height: calc(100vh - 68px);
    padding: 15px;
    position: fixed;
    left: 0;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    -webkit-transition: .4s all ease;
    -o-transition: .4s all ease;
    transition: .4s all ease;
  }
  .search_mob.active {
    top: 68px;
    visibility: visible;
    z-index: 999;
    opacity: 1;
  }
}

.mm-slideout {
  z-index: auto;
}

.mm-wrapper_opened .header_mob__hamb-img_1 {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
      -ms-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.mm-wrapper_opened .header_mob__hamb-img_2 {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.mm-menu {
  color: #000;
  background-color: #F3F3F3;
  font-family: "GothamPro-Bold";
}

.mm-menu_position-bottom {
  height: -webkit-calc(100% - 68px);
  height: calc(100% - 68px);
}

.mm-menu__tel {
  color: #3B3B3B !important;
  margin-right: 30px;
  position: relative;
}

.mm-menu__tel::after {
  content: '';
  position: absolute;
  right: -15px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #000;
}

.mm-menu__mail {
  font-family: "GothamPro";
  text-decoration: underline !important;
  color: #3B3B3B !important;
}

.mm-listitem {
  color: #000;
}

.mm-listitem:after {
  left: 0 !important;
  right: 0 !important;
}

.mm-listitem_selected .mm-listitem__text {
  background-color: #F39C12;
}

.mm-listitem span:hover,
.mm-listitem a:hover {
  background-color: #F39C12;
}
